body {
	background-color: hotpink;
}


#title { color: #880808; }

.redbull {color: darkblue;}

.ferrari {color: #ff2800;}

.williams {color: royalblue;}

.alphatauri {color: ivory;}

.mclaren {color: orange;}

.mercedes {color: silver;}

.astonmartin {color: forestgreen;}

.alpine {color: dodgerblue;}

.haas {color: gold;}

.alfaromeo {color: darkred;}